<div class="modal-header">
  <h5 class="modal-title">{{cliente?.id ? 'Editando': 'Inserindo'}} cliente</h5>
</div>
<div class="modal-body m-3">

  <form [formGroup]="formGroup" *ngIf="formGroup">

    <div class="row">
      <!-- Campo de Nome -->
      <mat-form-field class="col-md-12 mt-1">
        <mat-label>Nome</mat-label>
        <input type="text" matInput formControlName="nome">
        <app-message-valid-control [control]="getControl('nome')"> </app-message-valid-control>
      </mat-form-field>

      <!-- Campo de CPF -->
      <mat-form-field class="col-md-4 mt-1">
        <mat-label>CPF</mat-label>
        <input type="text" matInput formControlName="cpf" [textMask]="{ mask: maskCPF, guide: true }">
        <app-message-valid-control [control]="getControl('cpf')"> </app-message-valid-control>
      </mat-form-field>

      <!-- Campo de Data Nascimento -->
      <mat-form-field class="col-md-4 mt-1">
        <mat-label>Data Nascimento</mat-label>
        <input type="date" matInput formControlName="dataNascimento">
        <app-message-valid-control [control]="getControl('dataNascimento')"> </app-message-valid-control>
      </mat-form-field>
    </div>

    <!-- Endereço -->
    <div class="row mt-1" formGroupName="endereco">
      <!-- Logradouro -->
      <mat-form-field class="col-md-12 mt-1">
        <mat-label>Logradouro</mat-label>
        <input type="text" matInput formControlName="logradouro">
        <app-message-valid-control [control]="getControl('endereco.logradouro')"> </app-message-valid-control>
      </mat-form-field>

      <!-- Número -->
      <mat-form-field class="col-md-4 mt-1">
        <mat-label>Número</mat-label>
        <input type="text" matInput currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
          formControlName="numero">
        <app-message-valid-control [control]="getControl('endereco.numero')"> </app-message-valid-control>
      </mat-form-field>

      <!-- Bairro -->
      <mat-form-field class="col-md-8 mt-1mat-form-field">
        <mat-label>Bairro</mat-label>
        <input type="text" matInput formControlName="bairro">
        <app-message-valid-control [control]="getControl('endereco.bairro')"> </app-message-valid-control>
      </mat-form-field>

      <!-- Cidade -->
      <div class="col-md-8 mt-1">
        <label>Cidade</label>
        <ng-select formControlName="cidade" 
                   [items]="cidades"
                   bindLabel="nome"
                   [searchable]="false">
          <ng-template ng-option-tmp let-item="item">
            {{item.nome}} - {{item.uf}}
          </ng-template>
        </ng-select>
        <app-message-valid-control [control]="getControl('endereco.cidade')"> </app-message-valid-control>
      </div>

    </div>

    <div class="row">
      <!-- Mostra as informações de datas -->
      <div class="col-md-6 mt-3 text-info" *ngIf="cliente?.dateInsert">
        Data da Inclusão: {{cliente?.dateInsert | date : 'dd/MM/yyyy HH:mm:ss'}}
      </div>
      <div class="col-md-6 mt-3 text-info" *ngIf="cliente?.dateUpdate">
        Data da Atualização: {{cliente?.dateUpdate | date : 'dd/MM/yyyy HH:mm:ss'}}
      </div>
    </div>

  </form>

</div>
<div class="modal-footer">
  <!-- Botão para salvar o usuário -->
  <button class="btn btn-success" (click)="salvar()">
    <i class="fa fa-save mr-2"></i>
    Salvar
  </button>
  <!-- Botão para excluír o usuário (só mostra se já tiver ID, senão não precisa excluir poir nem inseriu) -->
  <button class="btn btn-danger" (click)="excluir()" *ngIf="cliente?.id">
    <i class="fa fa-delete mr-2"></i>
    Excluír
  </button>
</div>